<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio 1</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Ingresar Notas y Asistencia</h1>
        <form method="POST">
            <label for="nota1">Nota 1 ( de 10 a 70):</label><br>
            <input type="number" id="nota1" name="nota1" min="10" max="70" required><br><br>

            <label for="nota2">Nota 2 ( de 10 a 70):</label><br>
            <input type="number" id="nota2" name="nota2" min="10" max="70" required><br><br>

            <label for="nota3">Nota 3 ( de 10 a 70):</label><br>
            <input type="number" id="nota3" name="nota3" min="10" max="70" required><br><br>

            <label for="asistencia">Asistencia ( de 0 a 100):</label><br>
            <input type="number" id="asistencia" name="asistencia" min="0" max="100" required><br><br>

            <button type="submit">Enviar</button>
        </form>
    </div>
</body>
</html>
